/*.estrelas input[type=radio]{
    display: none;
}.estrelas label i.fa:before{
    content: '\f005';
    color: #fc0;
}.estrelas input[type=radio]:checked ~ label i.fa:before{
    color: #CCC;
}*/

.estrelas input[type=radio] {
    display: none;
}.estrelas label i.fa::before {
   
    
    
    
 }.estrelas input[type=radio]:checked ~ label i.fa::before {
    color: #CCC;
}
